<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <a class="navbar" href="/">News Portal</a>
            <div class="container">
                <ul class="navbar-nav">
                    <li><a class="navbar" href="/movie">Movies</a></li>
                    <li><a class="navbar" href="/sport">Sports</a></li>
                    <li><a class="navbar" href="/poli">Politics</a></li>
                </ul>
            </div>
    </nav>
    {% block body_block %}
    {% endblock %}
</body>
</html>